<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Shortner</title>
    <style>
        body{
            background-color: antiquewhite;
            box-sizing: border-box;
        }
        .container{
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4rem;
            width: 80%;
            height: 80vh;
            margin: auto;
        }
        table{
            border: 2px solid rgb(199, 194, 194);
            border-collapse: collapse;
            width: 100%;
            overflow-x: visible;
        }
        table thead th, td{
            padding: 1rem;
            text-align: left;
            
        }
        table thead th{
            background-color: blanchedalmond;
            border-collapse: collapse;
            /* border-collapse: separate; */

        }
        table tr:hover{
            background-color: gainsboro;
        }

        form{
            padding: 2rem;
            width: 100%;
            /* background-color: green; */
            display: grid;
            grid-template-columns: repeat(30%);
        }

        form input, form button{
            padding: 0.5rem 1.5rem;
        }
        form button:hover{
            background-color: blanchedalmond;
            font-weight: bold;
            padding: 0.5rem 1.5rem;
        }
form input{
margin-bottom: 1.2rem;
}
        .fa-solid{
            cursor: pointer;
            padding: 0.2rem;
            font-size: 1.3rem;color: black;
            /* color: bisque; */
        }
        .fa-solid:hover{
            color: white;
        }
        .action{
            display: flex;
        }
        .action a i{
            margin-right: .5rem;
        }
       

    </style>
</head>
<body>
    <div class="container">

    <form action="/" method="POST">

        <input type="url" placeholder="Enter Link" name="url" required>
      
<button type="submit">shortend</button>
    </form>

    <table class="containerw">
        <thead>
          <tr>
            <th>
                Full Url
            </th>
            <th>
                Short Url
            </th>
            <th>
                count
            </th>
            <th>Action</th>
          </tr>  
          <tbody>
            <% shortUrls.forEach(url => {%>
                <tr>
                    <td class="btn-primary"><a href="<%=url.originalUrl  %>"><%=url.originalUrl %></a></td>
                    <td><a href="/short/<%= url.shortUrl%>" target="_blank"><%= url.shortUrl %></a></td>
                    <td><%= url.clicks %></td>
                    <td class="action"><a href="/delete/<%= url._id%>"><i class="fa-solid fa-trash"></i></a><i class="fa-solid fa-copy" onclick="copyFn()"></i></td>
                    <input type="text" value="<%=port%>/short/<%= url.shortUrl%>" hidden id="text">
                </tr> 
            <%  }); %>
            
          </tbody>
        </thead>
    </table>
    
    <script>
function copyFn (){
    const value =  document.getElementById("text").value;

    // create a temporary element with value to hold the value to be copied
    const textarea = document.createElement('textarea');
    textarea.value = value;
    document.body.appendChild(textarea);
    textarea.select()
    document.execCommand("copy") 
    document.body.removeChild(textarea);
    alert("Copied to clipboard:  " +value)
}
    </script>
</body>
</html>